@use '@angular/material' as mat;

.work-area {
  height: calc(100% - 35px);
  overflow-y: scroll;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.bucket-container {
  width: 420px;
  min-height: 400px;
  @include mat.elevation(2);
  // &:hover {
  //   @include mat.elevation(4);
  // }
}

.header {
  @include mat.elevation(2);
  border-radius: var(--mat-sys-corner-medium);
  border: 1px solid rgba(177, 177, 177, 0.459);
  width: calc(100% - 350px);
  height: 35px;
  margin-top: 15px;
  padding: 10px;

  background-color: color-mix(in srgb, var(--mat-sys-secondary-container) 90%, transparent);

  color: var(--mat-sys-on-secondary-container);

  position: absolute;
  z-index: 100;

  display: flex;
  flex-direction: row;
  align-items: start;

  &-filler {
    flex-grow: 1;
  }

  .selected-date {
    font-size: 30px;
    font-weight: 600;
    align-self: center;
    // flex-grow: 1;
    opacity: 0.84;
  }



  .my-date-picker {
    @include mat.form-field-overrides((container-height: 30px,
        container-text-line-height: var(--mat-sys-body-small-line-height),
        container-vertical-padding: 10px,
        filled-with-label-container-padding-top: 0px,
        filled-with-label-container-padding-bottom: 0px,
        container-text-size: var(--mat-sys-body-medium-size),
      ));

    @include mat.icon-button-overrides((icon-size: 20px,
        touch-target-size: 20px,
        state-layer-size: 30px,
      ));
  }

}

.transaction-container {
  width: calc(100% - 20px);
  height: 300px;
  overflow-y: scroll;
  padding: 10px;

  border-color: var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-medium);
  border-width: 1px;
  border-style: solid;

  background-color: var(--mat-sys-surface-container-low);

  &-row {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    padding-bottom: 3px;
  }

  &-row:nth-child(odd) {
    background-color: var(--mat-sys-surface-container-high);
  }

  &-record {
    display: flex;
    justify-content: space-between;

    padding-top: 4px;
    padding-bottom: 2px;
    gap: 5px;

    &-date {
      width: 80px;
    }

    &-payee {
      text-overflow: ellipsis;
      max-width: 220px;
      overflow: hidden;
      white-space: nowrap;
      flex-grow: 1;
    }

    &-amount {
      &.credit {
        color: green;
      }
    }

    &-notes {
      font: var(--mat-sys-body-small);
      letter-spacing: var(--mat-sys-body-small-tracking);
      color: var(--mat-sys-on-surface-variant);
    }
  }
}