<div class="header">
    <mat-form-field>
        <mat-label>Choose a Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-hint>MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
            panelClass="example-month-picker">
        </mat-datepicker>
    </mat-form-field>

</div>

<div class="work-area">
    @if (bucketGroup) {
    <div style="display: flex;gap: 10px;flex-wrap: wrap;padding-top: 70px;">
        @for (item of bucketGroup.categories; track $index) {

        <mat-card class="bucket-container" appearance="outlined">
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.budgeted/100 | currency}} | {{item.spent/100 | currency}} | {{item.balance/100
                    |
                    currency}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                @if(item.transactions){
                @for (transaction of item.transactions; track $index) {
                <div>{{transaction.date}} | {{transaction['payee.name']}} | {{transaction.amount/100*-1 | currency}}
                </div>
                }
                }

            </mat-card-content>

        </mat-card>
        }
    </div>
    }

</div>