@use '@angular/material' as mat;

.work-area{
    height: 95%;
    overflow-y:scroll;
    margin-top: 15px;
    padding-bottom: 10px;
}

.bucket-container{
    width: 400px;
    min-height: 400px;
     @include mat.elevation(2);
     &:hover{
        @include mat.elevation(4);
     }
}

